/* Apply Lexend to the entire application */
body, #app {
  font-family: 'Lexend', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend', sans-serif !important;
}

/* Set theme colors across application */
:root {
  /* --- Brand Colors --- */
  --primary: #195de6;       /* The main "Reps Blue" */
  --primary-hover: #224abe; /* Darker blue for hover states */
  --secondary: #858796;
  
  /* --- UI Colors --- */
  --bg-dark: #0f172a;       /* Main background */
  --bg-card: #2d3748;       /* lighter dark for cards */
  --border-color: #3a465b;  /* Borders for inputs/cards */
  
  /* --- Text Colors --- */
  --text-white: #ffffff;
  --text-muted: #a0aec0;
}

/* Set global background immediately */
body, #app {
  background-color: var(--bg-dark);
  color: var(--text-white);
}

/* Styling for primary btns */
.btn-primary {
  background: var(--primary) !important;
  border: none;
}

.btn-primary:hover {
  background: var(--primary-hover) !important;
}

/* Styling for input fields */
.form-control-dark {
  background-color: var(--bg-card) !important;
  border: 1px solid var(--border-color) !important;
  color: var(--text-white) !important;
}

.form-control-dark:focus {
  background-color: var(--border-color) !important;
  border-color: var(--primary) !important;
  color: var(--text-white) !important;
  box-shadow: 0 0 0 0.25rem rgba(78, 115, 223, 0.25) !important;
}

.form-control-dark::placeholder {
    color: var(--text-muted) !important;
}